<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body class="home">
  <%- include('./partials/nav.ejs') %>
  <h1>CheapCloud  Mini Project</h1>
  <p>In this mini project you can upload or download files</p>
</body>
</html>